@charset "UTF-8";

.custom-masthead {
	padding-top: 2rem;
	padding-bottom: calc(10rem - 4.5rem);
	background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%,
		rgba(92, 77, 66, 0.8) 100%), url("../img/bg-masthead.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

.setting-titleBox {
	display: flex;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.3);
	border: 1px solid transparent;
	border-radius: 1rem 0 0 1rem;
	height: 100%;
	justify-content: center;
}

.setting-itemBox {
	background-color: rgba(255, 255, 255, 0.3);
	border: 1px solid transparent;
	border-radius: 0 1rem 1rem 0;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
}

input[type="radio"] {
	appearance: none;
	-webkit-appearance: none;
	border: 3px solid #fff;
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 50%;
	position: relative;
	top: -4rem;
	margin-bottom: 0.3rem;
}

input[type="radio"]:checked {
	background-color: #f4623a;
}

.ho, .ve, .si { /* 냉장고 모양 이미지들 */
	width: 75%;
	height: 200px;
	margin: 0 0.3rem;
}

.selected-fridge { /* 냉장고 정보 섹션의 왼쪽 공간 */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 25%;
	height: 65%;
	border: 0.3px dashed rgb(255, 255, 255);
	margin: 8% 5%;
}

.fridge-info { /* 냉장고 정보 섹션의 오른쪽 공간 */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 5% 5% 5% 1%;
	width: 75%;
	height: 80%;
	font-size: 1rem;
}

.fridgeInfoBox { /* 냉장고 이름, 보관 상태 선택하는 어두운 박스 */
	background: rgba(255, 255, 255, 0.3);
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 5% 2%;
	border-radius: 0.6rem;
	-moz-border-radius: 0.6rem;
	-webkit-border-radius: 0.6rem;
	z-index: 2;
}

.fridgeInfoLabelName { /* 이름 라벨 */
	font-weight: bold;
	font-size: large;
	width: 25%;
	margin: 2% 5% 2% 0;
	display: inline-block;
	text-align: right;
	float: left;
}

.fridgeInfoLabelState { /* A, B 라벨 */
	font-weight: bold;
	font-size: large;
	width: 25%;
	margin: 2% 5% 2% 0;
	display: inline-block;
	text-align: right;
	display: none;
	float: left;
}

.fridgeInfoInput { /* 냉장고 이름 적는 input */
	background: rgba(255, 255, 255, 0.3);
	border: 0.3px dashed rgb(255, 255, 255);
	width: 52%;
	height: 80%;
	margin: 2% 0;
	border-radius: 0.8rem;
	-webkit-border-radius: 0.8rem;
}

.stateSelectBtn { /* 냉장, 냉동 버튼 */
	background-color: rgba(255, 255, 255, 0.3);
	border: 0.3px dashed rgb(255, 255, 255);
	border-radius: 0.8rem;
	-webkit-border-radius: 0.8rem;
	margin-left: 2%;
	margin-top: 2%;
	padding: 0.4rem 1.8rem;
	color: #808080;
	font-weight: 100;
	display: none;
}

.stateSelectBtn.selected { /* 냉장, 냉동 버튼 선택됐을 때 */
	color: #fff;
	font-weight: 900;
}

.settingBoxContainer {
	width: 100vw;
}

.horizontalLine { /* 화면 하단 가로줄 */
	border: 1.5px solid rgb(255, 255, 255);
	position: relative;
	width: 60vw;
	margin: 1.5% auto;
	display: flex;
	justify-content: center; /* 수평 가운데 정렬 */
	align-items: center; /* 수직 가운데 정렬 */
}

.btns { /* 가로줄 아래 + 버튼, 완료 버튼 묶음 */
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between; /* 수평 정렬 */
	align-items: center; /* 수직 가운데 정렬 */
	margin: 0 auto;
	width: 20vw;
	height: 6vh;
}

.button { /* 개별적인 + 버튼, 완료 버튼 */
	background: rgba(255, 255, 255, 0.3);
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 48%;
	height: 70%;
	border-radius: 1rem;
	-moz-border-radius: 1rem;
	-webkit-border-radius: 1rem;
	font-size: large;
	font-weight: 600;
	color: rgb(255, 255, 255);
	border: 1px solid rgb(255, 255, 255);
}