@charset "UTF-8";

#showFridge { /* 냉장고 이미지부터 prev, next 버튼까지 */
   display: flex;
   flex-direction: column;
}

.ctrlInfos {
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   font-size: 1.4rem;
   color: #fff;
   margin: 2% 0;
}

#frg_name {
   margin: 2% 0;
}

#prev, #next {
   background-color: transparent;
   border: 1px solid transparent;
   color: #fff;
   font-size: 80%;
}

.plusFrgBtn {
	color: #fff;
}

.plusFrgBtn>a {
	color: #fff;
	text-decoration: none;
}

.btn {
	background: rgba(255, 255, 255, 0.3);
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 48%;
	height: 70%;
	border-radius: 1rem;
	-moz-border-radius: 1rem;
	-webkit-border-radius: 1rem;
	font-family: 'MV Boli';
	font-size: large;
	font-weight: 600;
	color: rgb(255, 255, 255);
	border: 1px solid rgb(255, 255, 255);
}