@charset "UTF-8";

.custom-masthead {
	padding-top: 2rem;
	padding-bottom: calc(10rem - 4.5rem);
	background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%,
		rgba(92, 77, 66, 0.8) 100%), url("../img/bg-masthead.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

/* form의 배경 */
.settingBoxWrapper{
	position: fixed;
    width: 100%;
    height: 85%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.addSettingBox-All{
	position: absolute;
    width: 66%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.addSettingBox-Left,
.addSettingBox-Right{
	position: relative;
    width: 100%;
    height: 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff38;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    margin-right: 1rem;
}

.addSettingBox-Wrapper{
	position: relative;
    width: 100%;
    height: 100%;
}

.addSettingBox-Form{
	position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


#actionForm {
    position: relative;
    width: 100%;
    height: 100%;
    top: 4%;
}

#addSettingBoxForm-0{
	position: relative;
    background-color: #ffffff6e;
    width: 100%;
    height: 90%;
    border-radius: 12px;
}

#addSettingBoxForm-0>.box1,
#addSettingBoxForm-0>.box2,
#addSettingBoxForm-0>.box3,
#addSettingBoxForm-0>.box4,
#addSettingBoxForm-0>.box5,
#addSettingBoxForm-0>.box6,
#addSettingBoxForm-0>.box7{
	position: relative;
	width: 100%;
	height: 10%;
	
}

.addSettingBox-Form-Scroll{
	/* max-height: 413px;
    overflow-y: scroll; */
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 2%;
}

.addSettingBox-Count-Plus{
	width: 400px;
    display: none;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.addSettingBox-Count-Plus>p{
	margin:0;
}

.addSettingBtn-text{
	display: flex;
    flex-direction: row;
} 

#addFormBtn{
	margin-right: 15%;
}

.addSettingBtn-Finish{
    position: relative;
    left: 0%;
    top: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.addSettingBtn-Finish>button{
	background-color: #ffffffe8;
    width: 40%;
    border: 0px;
    border-radius: 20px;
}

.addSettingBox-Table {
	background-color: #ffffff6b;
	width: 670px;
	height: 447px;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}

.addSettingBox-text{
	display:flex;
	justify-content: space-between;
	position: relative;
	align-items: center;
}

.addSettingBox-text>p{
	margin: 12px 6px;
}

.box0{
	position:relative;
	width:inherit;
	height: 30px;
	background-color: lightpink;
	display: flex;
	justify-content: center;
	align-items: baseline;
}

.selectedFormToRemove,
.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7{
	display: flex;
    margin-bottom: 9px;
    align-items: center;
    height: 10%;
    border-bottom: 1px dashed beige;
}

.box2-1,
.box3-1{
	position: relative;
    width: 100%;
}

.selectedFormToRemove{
	position:relative;
	width: inherit;
	height: 30px;
	display: none;
	justify-content: flex-end;
    align-items: center;
    padding: 6% 0;
}

.addSettingBoxForm-boxes{
	position: relative;
    width: 96%;
    height: 87%;
    top: 10%;
    margin: 0 auto;
}

.selectedForm{
	position:relative;
	width: inherit;
	margin-right: 5px;
}

.box3{
	height: 20%;
}

.box3-2{
	display:flex;
	flex-direction: column;
}

.box3-3{
	display:flex;
}

.box1>label,
.box2>label,
.box3>label,
.box4>label,
.box5>label,
.box6>label,
.box7>label{
	width: 50%;
	margin-left: 4%;
}

#frgOption-0,
#foodNameInput-0,
#dueDate-0,
#foodType-0,
#foodCount-0,
#foodCompany-0{
	width: 100%;
	height: 57%;
	background-color: white;
	border: 0px;
	border-radius: 20px;
}

#foodNameInput-0{
	margin-bottom: 3%;
}

#searchInput{
	width: 80%;
    height: 100%;
    background-color: white;
    border: 0px;
	margin-right:10px;
	border-radius: 20px;
}

#dueDate-0.placeholder::placeholder,
#foodType-0.placeholder::placeholder,
#foodCompany-0.placeholder::placeholder,
#foodNameInput-0.placeholder::placeholder{
	font-size=0.5rem;
}

.tableBox{
	width:660px;
	height:447px;
	display:inline;
	align-items:center;
}

.tableBox>.searchFood{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px;
}

.tableBox>.FoodTableDiv{
	width: 630px;
    height: 305px;
    max-height: 306px;
    overflow-y: scroll;
    margin:auto;
}

#showFoodTable{
	position : relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff9c;
    margin: auto;
    text-align: center;
    font-size: small;
    border: 2px solid #ffffff6e;
}

thead, tbody, tfoot, tr, td, th {
	border: 1px solid white;
	
}

th{
	height: 45px;
	font-size: 1.1rem;
	font-weight: 530;
	align-items:center;
	border-radius: 20px;
}

tr{
	position: relative;
	width: 100%;
	height: 40px; 
}


.box3>label>box3-1,
.box4>label>box4-1
{
	display: flex;
	flex-direction: row;
}


.settingBtn {
    position: relative;
    width: 500px;
	height: 35px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.settingBtn>.settingBtn-1{
	width: 70%;
	height: 100%;
	display: flex;
    justify-content: space-evenly;
    
}

.searchFood-1{
	display: flex;
    width: 80%;
    flex-direction: row;
    align-items: center;
}

#searchSubmit{
	width: 30%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid #b5b5b5;
    border-radius: 20px;
}

#addFormBtn,
#removeFormBtn{
	width: 50%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid #b5b5b5;
}