@charset "UTF-8";

/* form의 배경 */
.settingBoxWrapper{
	position: fixed;
    width: 100%;
    height: 85%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: baseline;
}

.addSettingBox-All{
	
	position: absolute;
    width: inherit;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
	
}

.addSettingBox-Left,
.addSettingBox-Right{
	position: relative;
    width: 100%;
    height: 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(244, 238, 230, 0.7);
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    margin-right: 1rem;
}

.addSettingBox-Count-Plus{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

.addSettingBtn-Finish{
	width: 550px;
    position: absolute;
    left: 220px;
    top: 480px;
}

.addSettingBtn-Finish>button{
	width:160px;
}

/* .addSettingBox-Wrapper{
	background-color:beige;
} */

.addSettingBox{
	background-color:gray;
}


/* .addSettingBox-Form{
    position: relative;
    width: 100%;
    height: 110%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F4EEE6;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    margin-right: 1rem;
} */

.addSettingBox-Table {
	background-color: #F4EEE6;
	width: 670px;
	height: 447px;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}

.addSettingBox-text{
	display:flex;
	justify-content: space-between;
	position: relative;
	align-items: center;
}

.addSettingBox-text>p{
	margin: 12px 6px;
}

.addSettingBox-Form-Scroll{
	max-height: 446px; 
	overflow-y: scroll; 
	border: 2px solid beige;
	background-color: #efcfcf;
}

.box0{
	position:relative;
	width:inherit;
	height: 30px;
	background-color: lightpink;
	display: flex;
	justify-content: center;
	align-items: baseline;
}

.box1>label,
.box2,
.box3>label,
.box4>label,
.box4>label>.box4-1,
.box5>label,
.box6>label,
.box7>label{
	display: flex;
	margin-bottom: 5px;
	align-items: center;
	border-bottom: 1px dashed beige;
}

.box3-2{
	display:flex;
	flex-direction: column;
}

.box3-3{
	display:flex;
}

.box4-1{
	display:flex;
	flex-direction: column;
}

.box1>label>p,
.box2>p,
.box3>label>p,
.box4>label>p,
.box5>label>p,
.box6>label>p,
.box7>label>p{
	float: left;
	width: 150px;
	margin: 10px 10px;
}

#frgOption,
#foodNameInput,
#dueDate,
#foodType,
#foodCount,
#foodCompany,
#searchInput{
	width: 340px;
	height: 30px;
	background-color: beige;
	border: 0px;
}

#dueDate,
#foodNameInput{
	margin-bottom: 5px;
}

#searchInput{
	margin-right:10px;
}

#dueDate.placeholder::placeholder,
#foodType.placeholder::placeholder,
#foodCompany.placeholder::placeholder,
#foodNameInput.placeholder::placeholder{
	font-size=0.5rem;
}

.tableBox{
	width:660px;
	height:447px;
	background-color:gray; 
	display:inline;
	align-items:center;
	/* border: 1px solid beige; */ 
}

.tableBox>.searchFood{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px;
}

.tableBox>.FoodTableDiv{
	width: 630px;
    height: 305px;
    max-height: 306px;
    overflow-y: scroll;
    margin:auto;
}

#showFoodTable{
    width: 596px;
    height: 305px;
    background-color: darkgray;
    margin: auto;
    text-align: center;
    font-size: small;
    border: 2px solid beige;
}

thead, tbody, tfoot, tr, td, th {
    border-style: dashed;
    border-width: thin;
}

th{
	height: 35px;
	font-size: 1.1rem;
	font-weight: 550;
}

td{
	table-layout: fixed; /* 테이블의 셀 높이 자동 조정 */
}

.box2>label{
	margin-right:30px;
}

.box3>label>box3-1,
.box4>label>box4-1
{
	display: flex;
	flex-direction: row;
}


.settingBtn {
    position: relative;
    width: 500px;
	height: 35px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.settingBtn>.settingBtn-1{
	width: 320px;
	height: 35px;
	display: flex;
    justify-content: space-evenly;
}

.settingBtn button,
#searchSubmit{
	width:150px;
	height: 35px;
	border-radius: 20px;
}



/* 여기부터 옛날꺼 */
.formBackground
{
width: 500px;
height: 500px;
background-image: url(../img/formback.svg);
background-repeat: no-repeat;
position : absolute ;
left : 300px;
top : 300px;
border-radius : 12px;
-moz-border-radius : 12px;
-webkit-border-radius : 12px;
}

.formBackground-child
{
width:600px;
height: 700px;
background-image: url(../img/formback.svg);
background-repeat: no-repeat;
position : absolute ;
left : 0px;
top : 700px;
border-radius : 12px;
-moz-border-radius : 12px;
-webkit-border-radius : 12px;
}
/*  form 중 div 한 줄 */
.formBack{
    display: flex;
    align-items: center;
    width: 40vw;
    height:4vh;
    margin-top: 5px;
    margin-left: 10px;
    /* border-bottom: 2px solid rgb(255, 255, 255); */
}

.formDue{
    height:14vh;
    align-items: center;
}

.formPbox p{
    font-size: 12px;
    color: rgb(200, 81, 81);
}

/* form의 요소 이름 (냉장고, 보관 위치, 식품명 ...) */
.labelName{
    font-weight: bold;
    color: #604C3F;
    position: absolute;
    left: 40px;
}

/* form의 input */
.formRight{
    position: absolute;
    left: 15vw;
}

/* 냉장고, 식품명, 유통/소비기한, 식품유형, 수량, 제조사명 */
.formRight > #fridge,
.formRight > input[type="search"],
.formRight > input[type="text"],
.formDueBox > input[type="text"],
.formDueBox > input[type="date"],
.formRight > input[type="number"]
 {
    border-radius : 6px;
    -webkit-border-radius : 6px;
    border: 0px;
    padding: 5px;
    width: 330px;
}

/* formFridge 냉장고*/


/* formState 보관위치*/


input [type="radio"]{
    appearance: none;
    -webkit-appearance: none;
    border: 3px solid #D6C2B4;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 4px;
    position: relative;
    top: -12rem;
    margin-bottom: 0.3rem;
}

input[type="radio"]:checked {
    background-color: #604C3F;
}

/* formName 식품명*/
.formName{
	height:8vh;
    align-items: center;
}


.formSubmit{
    background-color:#D6C2B4;
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
}

/* formDue 유통/소비기한*/
.formDueBox{  
    align-items: center;
}

.formDue>.formRight{
    position: relative;
    left: 182px;
    bottom: 3px;
}

/* formType 식품 유형 */


/* formCount 수량*/


/* formFrom 제조사명*/


/* footer */
.plusAndEnd{
    position: absolute;
    display: inline-block;
    top: 52vh;
    left: 1vw;
}


.horizontalLine2 {
    background: #D6C2B4;
    position: relative;
    width: 45vw;
    height: 1px;
    margin-top: 1.5%;
    display: flex;
    justify-content: center;     /* 수평 가운데 정렬 */
    align-items: center;     /* 수직 가운데 정렬 */
}

.btns {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* 수평 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    margin: 0 auto;
    width: 20vw;
    height: 6vh;
}

.btn {
    background: #F4EEE6;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 48%;
    height: 60%;
    border-radius: 1rem;
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    font-family: 'MV Boli';
    font-size: large;
    font-weight: 600;
    color: #604C3F;
    border: 1px solid #D6C2B4;
}