#contents {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.currentStateBox {
	background-color: #F4EEE6;
	position: relative;
	left: 15%;
	top: 35%;
	width: 36.5%;
	height: 10%;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.dropBoxLabel {
	font-size: 60%;
	margin-bottom: 5%;
	color: #604C3F;
	font-weight: 600;
}

.currentFrgDropBox {
	/* 현재 냉장고 드롭 박스 */
	background-color: #FFFFFF;
	position: relative;
	width: 160%;
	height: 150%;
	margin: 0 5%;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.centerLine {
	border-style: dashed;
	border-color: #C9CACA;
	border-width: 1px;
	left: 8%;
	position: relative;
	width: 0px;
	height: 31px;
}

.stateBtns {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.stateBtn {
	/* 보관 상태 버튼 - 선택 안 된 것 */
	background-color: #FFFFFF;
	position: relative;
	width: 33%;
	height: 35%;
	padding: 0.2rem 0.5rem;
	margin: 0 0.3rem;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.stateBtn.selected {
	/* 보관 상태 버튼 - 선택된 것 */
	background-color: #D6C2B4;
	position: relative;
	width: 33%;
	height: 35%;
	padding: 0.2rem 0.5rem;
	margin: 0 0.3rem;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.wholeFoodListBox {
	background-color: #F4EEE6;
	position: absolute;
	left: 15%;
	top: 46%;
	width: 36.5%;
	height: 50%;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	display: flex;
	justify-content: space-between;
}

#addBtn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 8%;
	top: 88%;
	left: 35%;
}

.detailInfoBox { /* 상세 보기 박스 */
	background-color: #F4EEE6;
	position: absolute;
	left: 52%;
	top: 35%;
	width: 36.5%;
	height: 61%;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.detailInfoTitleBox { /* 상세 보기 제목 박스 */
	background-color: #FFFFFF;
	position: absolute;
	top: 3%;
	width: 90%;
	height: 8%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #604C3F;
	font-weight: 700;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 11px;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
}

.detailInfoItemBox:nth-child(1) { /* 상세 보기 각 항목 박스들: 보관 냉장고 */
	position: absolute;
	top: 12%;
	width: 85%;
	height: 7%;
	border: 1px dashed #fff;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 11px;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.detailInfoItemBox:nth-child(2) { /* 상세 보기 각 항목 박스들: 식품명 */
	position: absolute;
	top: 21%;
	width: 85%;
	height: 7%;
	border: 1px dashed #fff;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 11px;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.detailInfoItemBox:nth-child(3) { /* 상세 보기 각 항목 박스들: 보관 위치 */
	position: absolute;
	top: 30%;
	width: 85%;
	height: 7%;
	border: 1px dashed #fff;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 11px;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.detailInfoItemBox:nth-child(4) { /* 상세 보기 각 항목 박스들: 제조사명 */
	position: absolute;
	top: 39%;
	width: 85%;
	height: 7%;
	border: 1px dashed #fff;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 11px;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.detailInfoItemBox:nth-child(5) { /* 상세 보기 각 항목 박스들: 유통/소비기한 */
	position: absolute;
	top: 47%;
	width: 85%;
	height: 14%;
	border: 1px dashed #fff;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 11px;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.detailInfoItemBox:nth-child(6) { /* 상세 보기 각 항목 박스들: D-Day */
	position: absolute;
	top: 62%;
	width: 85%;
	height: 7%;
	border: 1px dashed #fff;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 11px;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.detailInfoItemBox:nth-child(7) { /* 상세 보기 각 항목 박스들: 수량 */
	position: absolute;
	top: 70%;
	width: 85%;
	height: 7%;
	border: 1px dashed #fff;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 11px;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.detailInfoItemBox:nth-child(8) { /* 상세 보기 각 항목 박스들: 식품 유형 */
	position: absolute;
	top: 79%;
	width: 85%;
	height: 7%;
	border: 1px dashed #fff;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 11px;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.detailInfoItemBox label {
	position: absolute;
	width: 30%;
	left: 5%;
}

input.detailInputBox[type="text"],
input.detailInputBox[type="date"],
input.detailInputBox[type="number"],
select.detailInputBox {
	/* 각 항목 입력란 */
	border: 0.5px dashed #604C3F;
	position: absolute;
	right: 5%;
	width: 60%;
	height: 60%;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	display: flex;
	align-items: center;
}

input.detailInputBox[type="radio"] {
	position: relative;
	background-color: transparent;
	margin-left: 5px;
	width: 60%;
	height: auto;
}

.ctrlBtn {
	/* 수정, 삭제 버튼 */
	background-color: #FFFFFF;
	position: relative;
	width: 22%;
	height: 5%;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	margin: 1%;
	padding: 1%;
}