@charset "UTF-8";

/* 나의 게시글 보기 스타일 시작 */
.myPageTitleBox2 {
  /* 나의 게시글 보기 */
  background: #d6c2b4;
  position: absolute;
  left: 35%;
  top: 10%;
  width: 30%;
  height: 7%;
  border-radius: 1rem;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
}

.myPageContentBox2 {
  /* 나의 게시글 보기 내용 박스 */
  background: #f4eee6;
  position: absolute;
  left: 35%;
  top: 20%;
  width: 30%;
  height: 78%;
  border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  -webkit-border-radius: 0.75rem;
}

.myPageContentBox2 .count {
  /* 게시글 수, 댓글 수 표기 span */
  margin: 3% 2% 1% 10%;
  color: #604c3f;
  font-size: 0.8rem;
  font-family: "MV Boli";
  display: flex;
}

.myPostTitleBox {
  /* 내가 쓴 게시글 제목 박스 */
  background: #ffffff;
  position: relative;
  left: auto;
  top: 1%;
  width: 90%;
  height: 7%;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 3% auto;
  color: #604c3f;
  font-family: "MV Boli";
  font-weight: bold;
  text-indent: 20px;
}

.myPostListBox {
  /* 내가 쓴 게시글 목록 박스 */
  background: #ffffff;
  position: relative;
  left: auto;
  width: 90%;
  height: 31%;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 1.5% auto;
}

.boardCenterLine {
  /* 나의 게시글 보기 가운데 가로 구분선 */
  border-style: dashed;
  border-color: #c9bc9c;
  border-width: 1px;
  position: relative;
  left: auto;
  margin: 0 auto;
  top: 1%;
  width: 90%;
  height: 0;
  top: 1%;
}

.myCommentTitleBox {
  /* 내가 쓴 댓글 제목 박스 */
  background: #ffffff;
  position: relative;
  left: auto;
  top: 1.5%;
  width: 90%;
  height: 7%;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 3% auto;
  color: #604c3f;
  font-family: "MV Boli";
  font-weight: bold;
  text-indent: 20px;
}

.myCommentListBox {
  /* 내가 쓴 댓글 목록 박스 */
  background: #ffffff;
  position: relative;
  left: auto;
  width: 90%;
  height: 31%;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 1.5% auto;
}

/* 나의 게시글 보기 스타일 끝 */

/* 나의 냉장고 보기 스타일 시작 */

.myRedLight {
  /* 현재 나의 냉장고 상태 빨간 신호등 */
  background: #e60012;
}

.myYellowLight {
  /* 현재 나의 냉장고 상태 노란 신호등 */
  background: #eb6100;
}

.myGreenLight {
  /* 현재 나의 냉장고 상태 초록 신호등 */
  background: #009a3e;
}

.standardLine1 {
  /* 위험 기준 세로선 */
  border-style: dashed;
  border-color: #c9bc9c;
  border-width: 1px;
  position: relative;
  width: 0;
  height: 100%;
}

.standardLine2 {
  /* 경고 기준 세로선 */
  border-style: dashed;
  border-color: #c9bc9c;
  border-width: 1px;
  position: relative;
  width: 0;
  height: 100%;
}

.standards-wrapper input::-webkit-inner-spin-button,
.standards-wrapper input::-webkit-outer-spin-button {
  /* input 태그의 spin-button 없애기 */
  -webkit-appearance: none;
  margin: 0;
}

.fridgeName>.frg_name:disabled {
	/* 냉장고 정보 - 오른쪽 냉장고 이름 input 칸 비활성화 되어 있을 때 */
	background-color: transparent;
	border: none;
}

.fridgeName>.frg_name:focus {
  outline: none;
  border-bottom: 2px solid #fff;
}

.radio_group input, .radio_group label {
	margin: 0 0.3%;
}

.radio_group input[type="radio"] {
	appearance: none;
	-webkit-appearance: none;
	border: 3px solid #fff;
	border-radius: 50%;
}

.radio_group input[type="radio"]:checked {
	background-color: #f4623a;
}

/* Disabled이면서 checked인 경우 */
.radio_group input[type="radio"]:disabled:checked {
    background-color: #f4623a;
}

.fridgeAtitleBox {
	/* A칸 위치 */
	background: #ffffff;
	position: absolute;
	width: 32px;
	height: 11px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: flex;
	justify-content: space-between;
}

.fridgeBtitleBox {
	/* B칸 위치 */
	background: #ffffff;
	position: absolute;
	width: 32px;
	height: 11px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: flex;
	justify-content: space-between;
}

#frgAfrozenBtn {
	border-top: none;
	border-right: none;
	border-left: none;
	background-color: transparent;
	position: relative;
	width: 60px;
	height: 30px;
}

#frgAcoolBtn {
	border-top: none;
	border-right: none;
	border-left: none;
	background-color: transparent;
	position: relative;
	width: 60px;
	height: 30px;
}

#frgBfrozenBtn {
	border-top: none;
	border-right: none;
	border-left: none;
	background-color: transparent;
	position: relative;
	width: 60px;
	height: 30px;
}

#frgBcoolBtn {
	border-top: none;
	border-right: none;
	border-left: none;
	background-color: transparent;
	position: relative;
	width: 60px;
	height: 30px;
}

.frgSelected {
	border-bottom: 3px solid #fff;
	font-weight: bolder;
	color: #fff;
}

.frgNotSelected {
	border-bottom: 2px solid #ddd;
}