<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frg.mapper.BoardMapper">
	<select id="selectAllPosts" resultType="com.frg.domain.BoardDTO">
		SELECT *
		FROM board_view
		ORDER BY board_index DESC
	</select>
	
	<select id="selectChangedLike" resultType="int">
		SELECT board_like
			AS updated_like
		FROM board
		WHERE board_index = #{board_index}
	</select>
	
	<select id="selectPostsByWord" resultType="com.frg.domain.BoardDTO">
	    SELECT *
	    FROM board_view bv
	    WHERE bv.board_index IN (
	        SELECT board_index
	        FROM board
	        WHERE board_title LIKE '%' || #{search} || '%' OR board_content LIKE '%' || #{search} || '%'
	    )
	</select>
	
	<select id="selectPostsByDate" resultType="com.frg.domain.BoardDTO">
	    SELECT *
	    FROM board
	    WHERE board_regDate BETWEEN TO_DATE(#{fromDate, jdbcType=DATE, javaType=java.time.LocalDate}, 'YYYY-MM-DD') AND TO_DATE(#{toDate, jdbcType=DATE, javaType=java.time.LocalDate}, 'YYYY-MM-DD') + INTERVAL '1' DAY
	</select>
</mapper>