<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frg.mapper.FrgListMapper">
	<insert id="insertFrgList">
		INSERT INTO FrgList (
		user_index
		, frg_name
		, frg_shape
		, frg_Astate
		, frg_Bstate
		)
		VALUES (
		(SELECT user_index FROM users WHERE user_id = #{ user_id })
		, #{ frg_name }
		, #{ frg_shape }
		, #{ frg_Astate }
		, #{ frg_Bstate }
		)
	</insert>
	
	<select id="selectTrafficLight"
		resultType="com.frg.domain.TrafficDTO">
  	<![CDATA[
  		SELECT
  			COUNT(CASE WHEN i."D_DAY" > t.dangerous THEN 1 END) AS red,
  			COUNT(CASE WHEN i."D_DAY" <= t.dangerous AND i."D_DAY" > t.warning THEN 1 END) AS yellow,
  			COUNT(CASE WHEN i."D_DAY" <= t.warning THEN 1 END) AS green
		FROM Inner_View i
			INNER JOIN traffic t ON i.user_index = t.user_index
			INNER JOIN users u ON u.user_index = t.user_index
		WHERE u.user_id = #{user_id}
  	]]>
	</select>
</mapper>