<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frg.mapper.InnerFoodMapper">

	<insert id="insertInnerFood" parameterType="com.frg.domain.InnerDTO">
		INSERT INTO Inner (
		    frg_index,
		    in_state,
		    in_name,
		    in_expireDate,
		    in_type,
		    in_count,
		    in_company
		)
		VALUES (
		    (
		        SELECT frg_index
		        FROM FrgList f
		        WHERE f.frg_name = #{frg_name}
		        AND f.user_index = (
		            SELECT user_index
		            FROM Users
		            WHERE user_id = #{user_id}
		        )
		    ),
		    #{in_state},
		    #{in_name},
		    #{in_expireDate},
		    #{in_type},
		    #{in_count},
		    #{in_company}
		)
	</insert>

	<select id="selectFrgName" resultType="string">
		SELECT f.frg_name
		FROM
		FrgList f
		INNER JOIN users u ON f.user_index = u.user_index
		WHERE
		u.user_id = #{user_id}
	</select>

	<select id="selectFoodAPI" resultType="com.frg.domain.FoodApiDTO">
	  SELECT * FROM foodAPI
	  <where>
	    <if test="api_name != null">
	      api_name LIKE '%' || #{api_name} || '%'
	    </if>
	  </where>
	</select>


	<!-- innerCtrl  : 냉장고 drop box 전체 선택 -->
	<select id="selectAllInnerView"
		resultType="com.frg.domain.InnerDTO">
		SELECT i.in_name,
		i.in_expireDate, i.D_DAY,
		i.in_state,
		i.frg_index
		FROM
		Users u
		INNER JOIN Inner_View i ON u.user_index =
		i.user_index
		WHERE
		u.user_id =
		#{user_id}
	</select>
	
	<!-- innerCtrl  : 냉장고 drop box 부분 선택 -->
	<select id="selectPartInnerView"
		resultType="com.frg.domain.InnerDTO">
		SELECT i.in_name
		, i.in_expireDate
		, i.d_day
		, i.in_state
		, i.frg_index
		FROM
		Users u
		INNER JOIN Inner_View i
		ON u.user_index = i.user_index
		WHERE
		u.user_id = #{user_id}
		AND i.frg_index IN (SELECT f.frg_index
		FROM
		frgList f
		WHERE f.frg_name = #{frg_name} )
	</select>
	
	<select id="selectFrgNameAll"
		resultType="string">
		SELECT frgList.frg_name
		FROM users
		JOIN frgList ON
		users.user_index = frgList.user_index
		WHERE users.user_id = #{user_id}
		AND frgList.frg_index = #{frg_index}
	</select>

	<select id="selectInnerData"
		resultType="com.frg.domain.InnerDTO">
		SELECT i.in_count,i.in_company, i.in_type,i.in_index,
		i.frg_index
		FROM
		users u
		JOIN
		FrgList f ON
		u.user_index =
		f.user_index
		JOIN
		inner i ON
		f.frg_index =
		i.frg_index
		WHERE u.user_id =
		#{user_id}
		AND
		f.frg_index =
		#{frg_index}
		AND
		i.in_index
		in
		(Select
		i.in_index from inner i
		where
		i.in_name =
		#{in_name})
	</select>

	<update id="updateFood" parameterType="com.frg.domain.InnerDTO">
		UPDATE Inner
		SET
		frg_index =
		(select frg_index
		from frgList f
		where frg_name=#{frg_name}
		AND
		f.user_index = (
		SELECT user_index
		FROM Users
		WHERE user_id =
		#{user_id})),
		in_name = #{in_name},
		in_count = #{in_count},
		in_expireDate = #{in_expireDate},
		in_company = #{in_company},
		in_type =
		#{in_type},
		in_state = #{in_state}
		WHERE in_index =#{in_index}
	</update>

	<delete id="deleteFood">
		DELETE FROM inner
		WHERE in_index IN (
		SELECT i.in_index
		FROM inner i
		JOIN FrgList f ON i.frg_index = f.frg_index
		JOIN users u ON
		f.user_index = u.user_index
		WHERE u.user_id = #{user_id}
		AND f.frg_name
		= #{frg_name}
		AND i.in_index IN (
		SELECT in_index
		FROM inner
		WHERE in_name
		= #{in_name}))
	</delete>
</mapper>
