<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frg.mapper.InnerFoodMapper">

	<insert id="insertInnerAuto">
		INSERT INTO inner (
		frg_index,
		in_name,
		in_count,
		in_expireDate_auto,
		in_expireDate_custom,
		in_company,
		in_type,
		in_state
		)
		SELECT
		(SELECT frg_index FROM FrgList f, Users u WHERE u.user_id=#{user_id} AND
		f.frg_name =#{frg_name}),
		api_name,
		#{in_count},
		api_expireDate,
		#{in_expireDate_custom},
		api_company,
		api_type,
		#{in_state}
		FROM foodAPI
		WHERE api_fno = 2009039717826
	</insert>

	<insert id="insertInnerCustom">
		INSERT INTO Inner (
		frg_index,
		in_name,
		in_count,
		in_expireDate_custom,
		in_type,
		in_state
		)
		VALUES (
		(SELECT frg_index FROM FrgList f, Users u WHERE u.user_id=#{user_id} AND
		f.frg_name = #{frg_name}),
		#{in_name},
		#{in_count},
		#{in_expireDate_custom},
		#{in_type},
		#{in_state}
		)
	</insert>

	<select id="selectFrgName" resultType="string">
		select f.frg_name from
		frgList f, users u where u.user_id=#{user_id}
	</select>

	<select id="selectAllInnerView" resultType="com.frg.domain.InnerDTO">
		SELECT i.in_name,
		i.in_expireDate_custom, i."D_DAY"
		FROM Users u
		INNER JOIN Inner_View i ON u.user_index = i.user_index
		WHERE u.user_id = #{user_id}
		AND i.frg_index = (SELECT f.frg_index FROM frgList f WHERE f.frg_name =
		#{frg_name})
	</select>
	
	<select id="selectPartInnerView" resultType="com.frg.domain.InnerDTO">
		SELECT i.in_name,
		i.in_expireDate_custom, i."D_DAY"
		FROM Users u
		INNER JOIN Inner_View i ON u.user_index = i.user_index
		WHERE i.in_state = #{i.in_state}
		AND u.user_id = #{user_id}
		AND i.frg_index = (SELECT f.frg_index FROM frgList f WHERE f.frg_name =
		#{frg_name})
	</select>
	
	<select id="selectFoodAPI" resultType="com.frg.domain.FoodApiDTO">
		SELECT * FROM foodAPI WHERE api_name=#{api_name}
	</select>

</mapper>
