<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frg.mapper.InnerFoodListMapper">

  	 <!-- <insert id="insertFoodList" parameterType="java.util.List">
        INSERT ALL
        <foreach collection="list" item="item" index="index" separator="">
            INTO Inner (
                frg_index,
                in_index,
                in_name,
                in_count,
                in_expireDate,
                in_company,
                in_type,
                in_state
            )
            SELECT
                (SELECT frg_index
                 FROM FrgList f
                 WHERE f.frg_name = #{item.frg_name} AND f.user_index = (
                     SELECT user_index
                     FROM Users
                     WHERE user_id = #{item.user_id})),
                (get_in_index_seq_nextval() + 1),
                #{item.in_name},
                #{item.in_count},
                TO_DATE(#{item.in_expireDate},'YYYY-MM-DD'),
                #{item.in_company},
                #{item.in_type},
                #{item.in_state}
            FROM dual
        </foreach>
        SELECT * FROM DUAL
    </insert> -->
    
    
</mapper>
